# Игнорируем временные файлы и системные
*.tmp
*.temp
*.bak
*.swp
.DS_Store
Thumbs.db

# Игнорируем кэш LÖVE (если вдруг есть)
*.love

# Игнорируем лог-файлы
*.log

# Игнорируем директории IDE (если используешь VSCode или другие)
.vscode/
.idea/

# Игнорируем сборки (если ты упаковываешь игру отдельно)
build/
dist/